.container {
    display: flex;
    width: 50%;
}

.hidden {
    display: none;
}

.canvas{
  position: relative;
  left: 10%;
  top: 50px;
}

.sidebar, .edit-section {
    padding: 20px;
    margin-right: 20px;
}
